/* Normalize */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  font-family: "Poppins", system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
}
input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Text */
h1 {
  color: rgba(10, 10, 10, 0.87);
  text-align: center;
  text-shadow: 0px 8px 24px rgba(73, 122, 131, 0.20);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 92%;
  margin: 1.25rem 0;
}
p {
  color: hsl(220, 25%, 30%);
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 1rem 0;
}

/* Images */
img { 
  border-style: none; 
  max-width: 100%;
}

/* Hero */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem 0; 
  padding-bottom: 0;
  
}

.hero {
  width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  background: radial-gradient(
    circle at center,
    hsl(300, 90%, 92%) 20%, 
    hsl(50, 100%, 90%) 40%, 
    hsl(115, 80%, 93%) 60%, 
    hsl(190, 90%, 97%) 100%
  );
  max-height: 58rem;
  overflow-y: scroll;
}

.hero p {
  max-width: 28rem;
}

/* .heading {
  position: sticky;
  top: -1rem;
} */

/* cta - button */
.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta p {
  font-size: .95rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.cta a {
  display: flex;
  padding: .9rem 1.3rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 4rem;
  background: linear-gradient(
    185deg, 
    #20F355 5%, 
    #00CC4D 100%);
  box-shadow: 
    0px 8px 24px 0px rgba(44, 223, 94, 0.20), 
    0px 2px 8px 0px rgba(22, 59, 22, 0.10);
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.cta a:hover {
  cursor: pointer;
}

/* Chat */

.phone {
  position: sticky;
  top: calc(100vh - 48rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 0;
}

.phone img {
  max-height: 48rem;
  max-width: 24rem;
  z-index: 3;
  filter: drop-shadow(0px 40px 75px 0px #a80697);  
}

.chat {
  width: 100%;
  max-width: 26rem;
  z-index: 20;
  padding: 1.5rem .5rem;
  border-radius: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -35rem;
  gap: 1rem;
}

li {
  list-style: none;
  display: block;
  max-width: 90%;
  padding: 1.5rem;

  border-radius: 2rem 2rem 2rem 0;
  box-shadow: 0px 10px 28px 0px rgba(67, 89, 255, 0.15);
  background-color: white;
  color: #0b85ef;
  font-weight: 500;
  font-size: 1.15rem;
  line-height: 120%;
  opacity: 1;

  margin: 0;
  margin-right: auto;
  transform: rotate(-2deg);
  transition: opacity 0.3s ease-out;
}

li.blue {
  color: white;
  background: radial-gradient(200% 100% at 50% 100%, #62AFF2 0%, #5266fc 100%);
  border-radius: 2rem 2rem 0 2rem;
  margin-right: 0;
  margin-left: auto;
  transform: rotate(2deg);
}

li.hide { opacity: 0; }

/* CTA inside of list */
li:last-of-type {
  box-shadow: none;
  background: none;
  transform: rotate(0deg);
  margin: 0;
}

/* Image inside of list */
li img {
  border-radius: 1rem;
  margin-top: .5rem;
}

/* Balloons */
.balloons {
  width: 30%;
  height: 100vh;
  position: fixed;
  top: 0;
  margin: -1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  user-select: none;
}

.balloons img { width: auto; }
.balloons.left { left: 0; }
.balloons.right { right: 0; }

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
}
footer p,
footer a {
  font-size: .8rem;
  color: hsl(182, 20%, 70%);
}

/* Desktop */
@media only screen and (min-width: 768px) { 
  h1 { font-size: 4.25rem; }
  .content { padding: 1.5rem 1.5rem 0 1.5rem; }
}
