/* Normalize */
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  font-family: "Poppins", system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
input,
textarea,
button {
  font-size: inherit;
  font-family: inherit;
}
::-webkit-scrollbar {
  display: none;
}

/* Text */
h1 {
  color: rgba(10, 10, 10, 0.87);
  text-align: center;
  text-shadow: 0px 8px 24px rgba(73, 122, 131, 0.20);
  font-size: 2.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: 88%;
  margin: 1rem 0;
}

p {
  color: hsl(220, 25%, 30%);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-align: center;
}

/* Images */
img { 
  border-style: none; 
  max-width: 100%;
}

/* Hero */
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1rem 0 .5rem;  */
  padding-bottom: 0;
}

.hero {
  width: 100%;
  max-width: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
  background: radial-gradient(
    50% 90% at 50% 70%,
    hsl(300, 90%, 92%) 20%, 
    hsl(50, 100%, 90%) 40%, 
    hsl(115, 80%, 93%) 60%, 
    hsl(190, 90%, 97%) 100%
  );
  max-height: 53rem;
  overflow-y: scroll;
}

.logo {
  margin: 0;
}

.hero p {
  max-width: 28rem;
  padding: 0 1rem;
}

.heading {
  max-width: 100%;
  position: sticky;
  top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}

/* cta - button */
.cta {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cta p {
  font-size: .95rem;
  font-weight: 600;
  margin: .5rem;
}

.cta a {
  display: flex;
  padding: .7rem 1.3rem;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  border-radius: 4rem;
  background: linear-gradient(
    185deg, 
    #20F355 5%, 
    #00CC4D 100%);
  box-shadow: 
    0px 8px 24px 0px rgba(44, 223, 94, 0.20), 
    0px 2px 8px 0px rgba(22, 59, 22, 0.10);
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-decoration: none;
  z-index: 20;
}

.cta a:hover {
  cursor: pointer;
}

/* Phone */

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0;
  max-height: 26rem;
}

.phone img {
  width: 23rem;
  max-width: 85%;
  z-index: 3;
  filter: drop-shadow(0px 40px 75px 0px #a80697);  
}

/* Chat */

.chat {
  width: 100%;
  max-width: 26rem;
  padding: 1.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -24rem;
  gap: 1rem;
}

li {
  list-style: none;
  display: block;
  max-width: 80%;
  padding: 1.2rem;

  border-radius: 1.5rem 1.5rem 1.5rem 0;
  box-shadow: 0px 10px 28px 0px rgba(67, 89, 255, 0.15);
  background-color: white;
  color: #0b85ef;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  opacity: 1;

  margin: 0;
  margin-right: auto;
  transform: rotate(-2deg);
  transition: opacity 0.3s ease-out;
  user-select: none;
}

li.blue {
  color: white;
  background: radial-gradient(200% 100% at 50% 100%, #62AFF2 0%, #5266fc 100%);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  margin-right: 0;
  margin-left: auto;
  transform: rotate(2deg);
}

li.hide { 
  opacity: 0;
}

/* Image inside of list */
li img {
  border-radius: .5rem;
}

/* Balloons */
.balloons {
  position: fixed;
  width: 100%;
  height: 100vh;
  user-select: none;
}

.balloons img {
  position: absolute;
  bottom: -200px; /* Start position */
  max-width: 100px;
}

.balloons img:nth-of-type(1) {
  left: -2%;
  bottom: -300px; /* Start position */
  animation: move-1 20s linear infinite; /* Infinite animation */
}

.balloons img:nth-of-type(2) {
  left: 65%;
  bottom: -100px; /* Start position */
  animation: move-1 20s linear infinite; /* Infinite animation */
}

.balloons img:nth-of-type(3) {
  left: 85%;
  bottom: -600px; /* Start position */
  animation: move-1 20s linear infinite; /* Infinite animation */
}

@keyframes move-1 {
  0% { transform: translate(0, 10vh); }
  100% { transform: translate(0, -240vh); }
}

.balloons img:nth-of-type(4) {
  left: 1%;
  bottom: -100px; /* Start position */
  animation: move-2 25s linear infinite; /* Infinite animation */
}

.balloons img:nth-of-type(5) {
  left: 70%;
  bottom: -300px; /* Start position */
  animation: move-2 25s linear infinite; /* Infinite animation */
}

.balloons img:nth-of-type(6) {
  left: 90%;
  bottom: -600px; /* Start position */
  animation: move-2 25s linear infinite; /* Infinite animation */
}

@keyframes move-2 {
  0% { transform: translate(0, 110vh); }
  100% { transform: translate(0, -240vh); }
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
}
footer p,
footer a {
  font-size: .8rem;
  color: hsl(182, 20%, 70%);
}

/* Desktop */
@media only screen and (min-width: 768px) { 
  h1 { font-size: 4.2rem; }
  .content { 
    padding: 1.5rem 1.5rem 0 1.5rem;
    max-height: 100vh;
  }
  .hero { max-height: calc(100vh - 4rem); }
  .phone { max-height: 22rem; }
  .chat { margin-top: -19rem; }
  .balloons img { max-width: 200px; }
}
