/* normalize */
* { box-sizing: border-box; }
html { -webkit-text-size-adjust: 100%; }

/* sections */

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}

section {
  border-radius: 4rem;
  padding: 3rem;
  padding-bottom: 0;
  width: 100%;
  display: flex;
}

#hero {
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(
    70% 80% at 50% 80%, 
    hsl(300, 90%, 92%) 20%, 
    hsl(50, 100%, 90%) 40%, 
    hsl(115, 80%, 93%) 60%, 
    hsl(190, 90%, 96%) 80%, 
    hsl(190, 95%, 98%) 100% );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

#gifts {
  background: radial-gradient(
    80% 100% at 50% 100%, 
    hsl(300, 90%, 92%) 0%, 
    hsl(200, 100%, 95%) 100% );
}

#import {
  background: radial-gradient(
    80% 100% at 50% 100%, 
    hsl(15, 100%, 90%) 0%, 
    hsl(50, 100%, 96%) 100% );
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* text styles */

h1 {
  color: rgba(10, 10, 10, 0.87);
  text-align: center;
  text-shadow: 0px 8px 24px rgba(73, 122, 131, 0.20);
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
}

h2 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 110%;

  color: #410F7B;
  background: linear-gradient(120deg, #ac80fd 0%, #CD00FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#import h2 {
  background: linear-gradient(120deg, #FFAA42 0%, #FF0000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


img { 
  border-style: none; 
  max-width: 100%;
}

/* Mobile */

@media only screen and (max-width: 1279px) { 
  h1 { font-size: 4rem; }
  section { flex-direction: column; }
}

@media only screen and (max-width: 768px) { 
  body { padding: .75rem; gap: 1.5rem; }
  h1 { font-size: 3rem; }
}
